body{background-color: rgba(26, 204, 186, 0.211);}

h1{color: rgba(69, 129, 150, 0.956); text-align: center;}

p{font-size: larger; text-align: justify;}

.hobbies li{margin-top: 4px;}

.titulos{color: rgb(72, 158, 189);}

#pessoatrilha{
    width: 335px;
    border-radius: 5%;
}

table th{
    border: 5px solid rgb(80, 131, 150);
    border-radius: 4px;
    border-width: 4px;
    background-color: cadetblue;
}

table td{
    border: 5px solid rgb(80, 131, 150);
    border-radius: 4px;
    border-width: 4px;
    background-color: cadetblue;
}      

.link:hover{color: rgba(47, 200, 211, 0.932);}